@import "colors";

.body {
    .breadcrumb {
        //position: absolute;
        //top: 0;
        background: transparent;
        padding: 1.5rem 1rem .5rem; // New
        font-size: .8rem;
        font-weight: bold;
        text-transform: uppercase;

        .breadcrumb-item {
            color: $color_link;

            &.active {
                color: $text_lighter;
            }
        }
    }

    pre {
        background: $bg_panel;
        padding: .5rem;
        margin: 0 -.5rem 1rem;
    }
}