@import "colors";

.region-preview {
    .wrapper {
        overflow: hidden;
    }

    a {
        display: block;
        text-decoration: none;
        transition: opacity .2s ease-in-out;

        &:hover {
            text-decoration: none;
            opacity: .8;
            transition: opacity .2s ease-in-out;
        }
        &:active {
            text-decoration: none;
        }
    }
}

.list-group.region-list {
    .list-group-item {
        padding: 0;

        .list-group-heading {
            position: relative;
            padding: .75rem 1.25rem;

            .region-tool {
                position: absolute;
                top: 0;
                width: 43px;
                height: 100%;
                padding: .5rem 0;
                text-align: center;

                &.handle {
                    left: 0;
                    padding: .5rem 0;
                    border-right: solid 1px $color_border;
                }

                &.actions {
                    right: 0;
                    border-left: solid 1px $color_border;
                }
            }

            .region-content {
                margin-left: 43px;
            }
        }

        .list-group-body {
            background: $bg_main;
            padding: .75rem 1.25rem;
            border-top: solid 1px $color_border;
        }
    }
}