@import "colors";

body {
    background: $bg_main;
    min-width: 768px;
    max-width: 1420px;
    font-size: .875rem;
}

.container-fluid {
    .body {
        margin-left: 50px;
    }

    .body-content {
        background: $bg;
        max-width: 960px;
        padding: 0 2rem 2rem;
        margin: 0 auto;
        font-size: 1rem;
    }
}

.hidden {
    display: none;
}