@import "colors";

.table {
    thead {
        tr {
            border-bottom: 0;
        }

        th {
            font-family: "Open Sans",Arial;
            font-weight: 700;
            text-transform: uppercase;
            border-top: 0;
            border-bottom: 0;

            &.handle {
                text-indent: 30px;
            }

            &:first-child {
                padding-left: 1.25rem;
            }
        }
    }
    tbody {
        tr {
            background: #fff;
            border-top: solid 2px $bg_main;

            &:focus-within {
                background: $color_drop;
            }

            a:focus {
                background: darken($color_drop, 5%);
                color: $color_link_hover;
                text-decoration: underline;
                outline: none;
            }

            &.dropping {
                background: $color_drop;
            }

            td:first-child {
                padding-left: 1.25rem;

                a {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        .text-limit-cell {
            position: relative;
        }
    }

    .actions {
        text-align: right;
        padding: .5rem 1rem .5rem .5rem;
        vertical-align: middle;

        &.one {
            width: 65px;
        }

        &.two {
            width: 95px;
        }

        &.three {
            width: 115px;
        }
    }

    .date {
        width: 110px;
    }

    .medium {
        width: 160px;
    }

    &.table-main
    {
        tbody {
            tr {
                td:first-child {
                    a {
                        font-family: "Open Sans",Arial;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &.table-media {
        .dd-handle {
            position: absolute;
            top: 0;
            left: 0;
            height: 48px;
            padding: .8rem;
            border-right: solid 2px $bg_main;
        }

        .text-limit-cell {
            padding-left: 50px;
        }

        .media-icon {
            color: $text_lighter;
            margin-right: .5rem;
        }
    }
}