@model MvcWeb.Models.Blocks.GalleryBlock
@using Piranha.Extend.Blocks

@if (Model.Items.Count > 0)
{
    <div class="gallery">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <h2>@Model.Title</h2>
        }
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            @Html.Raw(Model.Description)
        }
        <div class="row">
            @foreach (var item in Model.Items)
            {
                var image = (ImageBlock)item;

                <div class="col-sm">
                    <img class="img-thumbnail" src="@Url.Content(image.Body.Media.PublicUrl)">
                </div>
            }
        </div>
    </div>
}
